body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Container holding the image and the text */
.container {
  width:100%;
  position: absolute;
  z-index: 0;
  content:url('https://media.istockphoto.com/vectors/blue-grid-graph-statistical-polygon-background-abstract-vector-id1340095547?k=20&m=1340095547&s=612x612&w=0&h=e-RZmgMpfKBjJ7w2aPajTXQnOcT6r0sTjcIOsgXfsaU=');

}
.background{
  width:100%;
  position: absolute;
  z-index: 0;
  opacity:.80;
  content:url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2240&q=80');
}
.white{
  color:white !important
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color:black;
}

:root {
  --blue: #14d0f0e6;
  --pink: rgba(155, 131, 195, 0.4);
  --white: rgba(255, 255, 255, 0.9);
}

body {
  font: 100% system-ui, sans-serif;
  /* box-sizing: border-box;
  overflow: hidden;
  margin: 0; */
}

.background {
  background-image: url(https://gw.alipayobjects.com/zos/basement_prod/a8cf2dfe-ff6a-4a2e-ab73-f72dced0df99.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #252746;
  background-position: center;
  width: 100vw;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.background-texture {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9)
    rgba(45, 43, 49, 0.9),
  );
  background-size: cover;
  width: 100vw;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.header-x {
  width: 100%;
  height: 80px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header-y {
  width: 100%;
  height: 80px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction:column;
  position: relative;
  z-index: 1;
}

.left-content {
  width: 80vw;
  padding-left: 40px;
}

.stay-home {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 0;
  color: #8b64b4;
}

.h1-x {
  margin: 0 0 1rem 0;
  font-weight: 900 !important;;
  font-size: 3.0rem;
  text-transform: uppercase;
  color: #3b365e;
  color: #8b64b4 !important;;
}


h1 {
  margin: 0 0 1rem 0;
  font-weight: 300 !important;
  font-size: 2.0rem;
  text-transform: uppercase;
  color: #3b365e !important;;
  color: #8b64b4 !important;;
}
.h1-y {
  margin: 0 0 1rem 0;
  font-weight: 900 !important;;
  font-size: 3.0rem;
  text-transform: uppercase;
  color: white !important;;
}


h2 {
  margin: 0 0 .5rem 0;
  /* font-weight: 300 !important; */
  font-size: 1.25rem;
  text-transform: uppercase;
  color:    #8b64b4 !important;
    font-family: 'poppins', sans-serif;
}
h3 {
  margin: 0 0 .5rem 0;
  font-weight: 500 !important;
  font-size: 1.0rem;
  text-transform: uppercase;
  color: #3b365e !important;;
  font-family: 'Lato', sans-serif;
}



.para {
  color: #234234;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: 'Hachi Maru Pop', cursive;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.para-x {
  color: #333;
  font-weight: 400;
  font-size: 1.00rem;
  font-family: 'Hachi Maru Pop', cursive;
font-family: 'Lato', sans-serif;
/* font-family: 'Poppins', sans-serif; */
}
/* p {
  color: #234234;
  font-weight: 500;
  font-size: 1.0rem;
} */

button {
  padding: 0.9rem 1.2rem;
  border-radius: 25px;
  background-color: var(--blue);
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

/* svg {
  position: absolute;
  min-height: 300px;
  right: 0;
  top: 40px;
} */

#rightEar,
#leftEar,
#in-drawing {
  animation: ear 2s linear infinite;
}
* {
   /* font-family: 'Press Start 2P', cursive !important;; */
   font-family: 'lato';
   font-weight: 500 !important;
}

